<ion-content [fullscreen]="true" class="rpg-theme">
  <div class="quiz-container">
    
    <div class="quiz-header">
      <h1>Questionário de Mapeamento Rotina</h1>
      <h3>Este questionário serve para mapearmos seus pontos fortes e fracos.</h3>
    </div>

    <ion-grid class="ion-no-padding">

      <div class="question-block">
        <ion-row class="ion-align-items-center">
          <ion-col size="10">
            <h2>1. Qual é o seu maior desafio para manter o foco?</h2>
          </ion-col>
          <ion-col size="2" class="ion-text-end">
            <ion-icon name="paw" class="rpg-icon-brown"></ion-icon>
          </ion-col>
        </ion-row>
        <div class="checkbox-group">
          <ion-checkbox labelPlacement="end">Distrações (celular, redes sociais, notificações)</ion-checkbox>
          <ion-checkbox labelPlacement="end">Falta de motivação</ion-checkbox>
          <ion-checkbox labelPlacement="end">Procrastinação</ion-checkbox>
          <ion-checkbox labelPlacement="end">Não saber por onde começar</ion-checkbox>
        </div>
      </div>

      <div class="question-block">
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <h2>2. Como você prefere organizar sua rotina?</h2>
          </ion-col>
        </ion-row>
        <div class="checkbox-group">
          <ion-checkbox labelPlacement="end">Planejo tudo com antecedência</ion-checkbox>
          <ion-checkbox labelPlacement="end">Faço uma lista diária de tarefas</ion-checkbox>
          <ion-checkbox labelPlacement="end">Vou ajustando conforme o dia</ion-checkbox>
          <ion-checkbox labelPlacement="end">Não costumo planejar</ion-checkbox>
        </div>
      </div>

      <div class="question-block">
        <ion-row class="ion-align-items-center">
          <ion-col size="10">
            <h2>3. Quando você percebe que está perdendo o foco, o que costuma fazer?</h2>
          </ion-col>
          <ion-col size="2" class="ion-text-end">
            <ion-icon name="flask" class="rpg-icon-pink"></ion-icon>
          </ion-col>
        </ion-row>
        <div class="checkbox-group">
          <ion-checkbox labelPlacement="end">Faço uma pausa curta e volto</ion-checkbox>
          <ion-checkbox labelPlacement="end">Mudo de ambiente</ion-checkbox>
          <ion-checkbox labelPlacement="end">Escuto música ou algo motivador</ion-checkbox>
          <ion-checkbox labelPlacement="end">Desisto da tarefa</ion-checkbox>
        </div>
      </div>

      <div class="question-block">
        <ion-row class="ion-align-items-center">
          <ion-col size="10">
            <h2>4. O que mais te ajuda a manter a disciplina?</h2>
          </ion-col>
          <ion-col size="2" class="ion-text-end">
            <ion-icon name="paw" class="rpg-icon-brown"></ion-icon>
          </ion-col>
        </ion-row>
        <div class="checkbox-group">
          <ion-checkbox labelPlacement="end">Ver meu progresso</ion-checkbox>
          <ion-checkbox labelPlacement="end">Recompensas (após completar tarefas)</ion-checkbox>
          <ion-checkbox labelPlacement="end">Prazos e compromissos</ion-checkbox>
          <ion-checkbox labelPlacement="end">Ter um propósito claro</ion-checkbox>
        </div>
      </div>

      <div class="question-block">
        <ion-row class="ion-align-items-center">
          <ion-col size="10">
            <h2>5. Que tipo de jogo ou desafio te motiva mais?</h2>
          </ion-col>
          <ion-col size="2" class="ion-text-end">
            <ion-icon name="sparkles" class="rpg-icon-gold"></ion-icon>
          </ion-col>
        </ion-row>
        <div class="checkbox-group">
          <ion-checkbox labelPlacement="end">Desafios diários (streaks)</ion-checkbox>
          <ion-checkbox labelPlacement="end">Pontuação e níveis</ion-checkbox>
          <ion-checkbox labelPlacement="end">Metas com recompensas</ion-checkbox>
          <ion-checkbox labelPlacement="end">Desafios com amigos ou comunidade</ion-checkbox>
        </div>
      </div>

      <div class="question-block">
        <ion-row class="ion-align-items-center">
          <ion-col size="10">
            <h2>6. Como você mede seu progresso?</h2>
          </ion-col>
          <ion-col size="2" class="ion-text-end">
            <ion-icon name="flask" class="rpg-icon-orange"></ion-icon>
          </ion-col>
        </ion-row>
        <div class="checkbox-group">
          <ion-checkbox labelPlacement="end">Pelo tempo de estudo/trabalho</ion-checkbox>
          <ion-checkbox labelPlacement="end">Pelo que consegui aprender
            /fazer</ion-checkbox>
          <ion-checkbox labelPlacement="end">Pelo número de tarefas concluídas</ion-checkbox>
          <ion-checkbox labelPlacement="end">Outro jeito</ion-checkbox>
        </div>
      </div>

      <div class="question-block">
        <ion-row class="ion-align-items-center">
          <ion-col size="10">
            <h2>7. Como você lida com mudanças nos planos ou imprevistos?</h2>
          </ion-col>
          <ion-col size="2" class="ion-text-end">
            <ion-icon name="paw" class="rpg-icon-brown"></ion-icon>
          </ion-col>
        </ion-row>
        <div class="checkbox-group">
          <ion-checkbox labelPlacement="end">Me desestabilizan e perco o foco</ion-checkbox>
          <ion-checkbox labelPlacement="end">Me atrapalham, mas consigo me adaptar</ion-checkbox>
          <ion-checkbox labelPlacement="end">Consigo me adaptar bem e reorganizo</ion-checkbox>
          <ion-checkbox labelPlacement="end">Vejo como oportunidade e sigo em frente</ion-checkbox>
        </div>
      </div>

      <div class="question-block">
        <ion-row class="ion-align-items-center">
          <ion-col size="10">
            <h2>8. Como você revisa e ajusta suas rotinas para melhorar seus resultados?</h2>
          </ion-col>
          <ion-col size="2" class="ion-text-end">
            <ion-icon name="sparkles" class="rpg-icon-gold"></ion-icon>
          </ion-col>
        </ion-row>
        <div class="checkbox-group">
          <ion-checkbox labelPlacement="end">Nunca reviso, mantenho do jeito que está</ion-checkbox>
          <ion-checkbox labelPlacement="end">Reviso só quando algo dá errado</ion-checkbox>
          <ion-checkbox labelPlacement="end">Reviso de vez em quando</ion-checkbox>
          <ion-checkbox labelPlacement="end">Reviso com frequência e faço ajustes constantes</ion-checkbox>
        </div>
      </div>

      <div class="question-block">
        <ion-row class="ion-align-items-center">
          <ion-col size="10">
            <h2>9. Quais tipos de recompensas te motivam a continuar focado(a)?</h2>
          </ion-col>
          <ion-col size="2" class="ion-text-end">
            <ion-icon name="flask" class="rpg-icon-purple"></ion-icon>
          </ion-col>
        </ion-row>
        <div class="checkbox-group">
          <ion-checkbox labelPlacement="end">Recompensas imediatas e pequenas</ion-checkbox>
          <ion-checkbox labelPlacement="end">Recompensas maiores no longo prazo</ion-checkbox>
          <ion-checkbox labelPlacement="end">Reconhecimento de outras pessoas</ion-checkbox>
          <ion-checkbox labelPlacement="end">A sensação de dever cumprido</ion-checkbox>
        </div>
      </div>

      <div class="question-block">
        <ion-row class="ion-align-items-center">
          <ion-col size="10">
            <h2>10. Como você lida com falhas ou desvios na sua rotina?</h2>
          </ion-col>
          <ion-col size="2" class="ion-text-end">
            <ion-icon name="paw" class="rpg-icon-brown"></ion-icon>
          </ion-col>
        </ion-row>
        <div class="checkbox-group">
          <ion-checkbox labelPlacement="end">Me culpo e desisto</ion-checkbox>
          <ion-checkbox labelPlacement="end">Me frustro, mas tento compensar depois</ion-checkbox>
          <ion-checkbox labelPlacement="end">Aceito o dia e retorno no próximo</ion-checkbox>
          <ion-checkbox labelPlacement="end">Entendo como parte do processo e sigo meu plano</ion-checkbox>
        </div>
      </div>

      <div class="question-block">
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <h2>11. Como está sua relação com o tempo no dia a dia?</h2>
          </ion-col>
        </ion-row>
        <div class="checkbox-group">
          <ion-checkbox labelPlacement="end">Vivo correndo e quase nunca tenho tempo</ion-checkbox>
          <ion-checkbox labelPlacement="end">Planejo bem, mas acabo me distraindo</ion-checkbox>
          <ion-checkbox labelPlacement="end">Consigo administrar bem a maior parte do tempo</ion-checkbox>
          <ion-checkbox labelPlacement="end">Tenho controle total e sigo meu planejamento</ion-checkbox>
        </div>
      </div>

      <div class="question-block">
        <ion-row class="ion-align-items-center">
          <ion-col size="10">
            <h2>12. Como você cuida da sua rotina pessoal (alimentação, sono, descanso, lazer)?</h2>
          </ion-col>
          <ion-col size="2" class="ion-text-end">
            <ion-icon name="paw" class="rpg-icon-brown"></ion-icon>
          </ion-col>
        </ion-row>
        <div class="checkbox-group">
          <ion-checkbox labelPlacement="end">Não tenho uma rotina definida</ion-checkbox>
          <ion-checkbox labelPlacement="end">Tento cuidar, mas não sou consistente</ion-checkbox>
          <ion-checkbox labelPlacement="end">Cuido da maior parte dos dias</ion-checkbox>
          <ion-checkbox labelPlacement="end">É uma prioridade e faz parte do meu planejamento</ion-checkbox>
        </div>
      </div>

    </ion-grid>

    <div class="button-container">
      <ion-button expand="block" routerLink="/tabs/tab1" class="btn-enviar">
        Enviar
      </ion-button>
    </div>

  </div>