<ion-content [fullscreen]="true">
  <div class="login-wrapper">
    
    <div class="login-box">
      <ion-list lines="none">
        <div class="header-text">
        <h2>Login</h2>
        <p>Bem-vindo(a) de volta!!</p>
      </div>
        <div class="form-group">
          <ion-label position="stacked">Email</ion-label>
          <ion-input 
            type="email" 
            placeholder="Digite seu email" 
            [(ngModel)]="credenciais.email">
          </ion-input>
        </div>

        <div class="form-group">
          <ion-label position="stacked">Senha</ion-label>
          <ion-input 
            type="password" 
            placeholder="Digite sua senha" 
            [(ngModel)]="credenciais.senha">
          </ion-input>
        </div>

        <div class="error-container" *ngIf="loginInvalido">
          <ion-icon name="alert-circle-outline"></ion-icon>
          <span>{{ mensagemErro }}</span>
        </div>

        <ion-button class="btn-submit" expand="block" (click)="executarLogin()">
          Entrar
        </ion-button>
        
        <a class="btn-register" [routerLink]="['/cadastro']">Ainda não tenho conta</a>

      </ion-list>
    </div>

  </div>
</ion-content>